@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-size: 100%;
}

.blog_container {
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.imagesBlog {
    width: 50%;
}

.content_Container {
    display: flex;
    gap: 10px;
}